<h1>login</h1>
<form action="/login" method= "POST">
    <div>
        <lable for="name">Name</lable>
        <input type="name" id="name" name="name" required>
    </div>
    <br>
    <div>
        <lable for="password">password</lable>
        <input type="password" id="password" name="password" required>
    </div>
    <br>
    <button type="submit">login</button>
</form>
<a href="/register">Register</a>